body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, rgb(0, 123, 255), rgb(58, 80, 107));
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.stopwatch {
    background-color: rgba(193, 189, 189, 0.934);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.time {
    font-size: 3em;
    margin: 20px 0;
    color: #222222;
}

.controls {
    text-align: center;
}

button {
    font-size: 1.2em;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.watch-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
    color: #3498db;
}

.watch-icon i {
    transform-origin: 50% 50%;
    transition: transform 0.3s ease;
}

.watch-icon.rotate i {
    transform: rotate(180deg);
}

button:hover {
    background-color: #2980b9;
}

.laps, .history {
    margin-top: 20px;
    text-align: left;
    max-height: 150px;
    overflow-y: auto;
}

.laps div, .history div {
    background-color: #ecf0f1;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.controls button i {
    margin-right: 5px;
    transition: transform 0.3s ease;
}

.controls button.rotate i {
    transform: rotate(180deg);
}

/* Media Query */
@media (max-width: 600px) {
    .stopwatch {
        max-width: 90%;
    }
    .time {
        font-size: 2.5em;
    }
    .controls button {
        font-size: 1em;
        padding: 8px 16px;
    }
    .watch-icon {
        margin-bottom: 10px; 
    }
}
